.text-field{

}

.text-field label{
font-size: 0.8 rem;
color: rgb(226, 225, 225);
}

.text-field input{
    margin: 20px 0px 40px 0px;
    border:none;
    border-bottom: 1px solid #ffe81f;
    background-color: #2e2e2e;
    color: rgb(206, 206, 206);
}

.text-field input:hover{
    border-bottom: 2px solid #ffe81f;
}